{% extends 'base.html' %}

{% block content %}
  <style>
    a {
      color: #27ae60; /* Color del enlace */
      text-decoration: none;
      margin-left: 10px;
      padding: 8px 12px;
      border-radius: 4px;
      
      transition: background-color 0.3s ease-in-out;
      display: inline-block;
      position: relative;
    }

    

    .add-to-cart-icon::before {
      content: '\1F6D2'; /* Código unicode para el icono del carrito de compras */
      font-size: 20px;
      margin-right: 5px;
    }
    h1 {
      color: black; /* Color del título principal */
      text-align: center; /* Centra el texto horizontalmente */
      padding: 20px 0; /* Añade espacio alrededor del título */
    }
    a:hover {
      background-color: #52be80; /* Cambia el color al pasar el mouse sobre el botón */
    }

    /* Puedes agregar más estilos según sea necesario */

  </style>

  <h1>Productos Disponibles</h1>
  <ul>
    {% for product in products %}
      <li>
        {{ product.name }} - Precio: {{ product.price }}
        
        <a href="#" onclick="addToCart({{ product.id }})">
          <span class="add-to-cart-icon" aria-hidden="true"></span>
          Agregar al carrito
        </a>
      </li>
    {% endfor %}
  </ul>

  <!-- Mensaje de confirmación -->
  {% if messages %}
    <div class="alert alert-success">
      <ul class="mb-0">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <script>
    function addToCart(productId) {
      $.ajax({
        url: '{% url "add_to_cart" 0 %}'.replace('0', productId),
        method: 'GET',
        success: function(data) {
          // Muestra el mensaje de confirmación solo si la solicitud tiene éxito
          if (data.success) {
            $('#confirmationMessage').text(data.message);
            $('#confirmationMessage').show();
          }

          // Puedes agregar más lógica aquí según sea necesario
        },
        error: function(error) {
          console.error('Error al agregar al carrito:', error);
        }
      });

      return false;  // Esto evita que el enlace siga el href
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}
