<!-- employee_service_list.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Lista de Servicios para Empleados</h1>
  <style>
    h1 {
      color: #333;
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    a {
      color: #333;
      text-decoration: none;
      padding: 8px;
      border-radius: 4px;
      transition: background-color 0.3s ease-in-out;
    }

    a:hover {
      background-color: #d2f1c2;
    }

    .add-service-link {
      display: inline-block;
      margin-top: 20px;
      color: #fff;
      background-color: #3498db;
      padding: 10px;
      text-align: center;
      border-radius: 4px;
      text-decoration: none;
      transition: background-color 0.3s ease-in-out;
    }

    .add-service-link:hover {
      background-color: #2980b9;
    }
  </style>

  {% if services %}
    <table>
      <thead>
        <tr>
          <th>Nombre del Servicio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
          <tr>
            <td>{{ service.name }}</td>
            <td>
              <a href="{% url 'service_detail' service.id %}">Ver detalles</a>
              <a href="{% url 'edit_service' service.id %}">Editar</a>
              <a href="{% url 'delete_service' service.id %}">Eliminar</a>
            </td>
          </tr>
          <!-- Puedes mostrar más detalles del servicio según tus necesidades -->
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'add_service' %}" class="add-service-link">Agregar Nuevo Servicio</a>
  {% else %}
    <p>No hay servicios disponibles.</p>
    <a href="{% url 'add_service' %}" class="add-service-link">Agregar Nuevo Servicio</a>
  {% endif %}
{% endblock %}
