{% extends 'base.html' %}

{% block content %}
  <style>
    h1 {
      color: black;
      text-align: center;
    }

    .pedido-box {
      margin-bottom: 20px;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .pedido-box:not(:last-child) {
      margin-bottom: 20px;
    }

    .pedido-details {
      margin-bottom: 10px;
    }

    .product-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .product-item {
      border: 1px solid #ddd;
      background-color: #f9f9f9;
      border-radius: 4px;
      margin-bottom: 5px;
      padding: 8px;
    }

    .button-container {
      display: flex;
      gap: 5px;
    }

    button {
      padding: 8px 12px;
      background-color: #007BFF;
      color: #FFFFFF;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }
  </style>

  <h1>Listado de Pedidos</h1>

  {% if pedidos %}
    {% for pedido in pedidos %}
      <div class="pedido-box">
        <h3 class="pedido-details">Pedido para {{ pedido.nombre_completo }}</h3>
        <p class="pedido-details">Cliente: {{ pedido.user.username }}</p>
        <p class="pedido-details">Servicio: {{ pedido.service.name }}</p>
        
        <!-- Mostrar datos del formulario -->
        <p class="pedido-details">Numero de Cedula: {{ pedido.document_number }}</p>
        <p class="pedido-details">Correo electronico: {{ pedido.email }}</p>
        <p class="pedido-details">Celular: {{ pedido.phone_number }}</p>

        <div class="product-list">
          {% for cart_item in pedido.service.cartitem_set.all %}
            <div class="product-item">{{ cart_item.product.name }} - Cantidad: {{ cart_item.quantity }}</div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% if solicitudes_productos %}
    <div class="pedido-box">
      <h3 class="pedido-details">Solicitudes de Productos</h3>
      <div class="product-list">
        {% for solicitud_producto in solicitudes_productos %}
          <div class="product-item">
            <strong>Cliente:</strong> {{ solicitud_producto.user.username }}<br>
            <strong>Productos:</strong>
            {% for cart_item in solicitud_producto.cartitem_set.all %}
              {{ cart_item.product.name }} - Cantidad: {{ cart_item.quantity }}<br>
            {% endfor %}
            
            <!-- Mostrar datos del formulario -->
            <p class="pedido-details">Campo Adicional 1: {{ solicitud_producto.campo_adicional_1 }}</p>
            <p class="pedido-details">Campo Adicional 2: {{ solicitud_producto.campo_adicional_2 }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}