<!-- service_list.html -->
{% extends 'base.html' %}

{% block content %}

  <h1>Servicios Disponibles</h1>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f5f5f5; /* Color de fondo */
      color: #333; /* Color de texto principal */
      margin: 0;
      padding: 0;
    }
  
    h1 {
      color: black; /* Color del título principal */
      text-align: center; /* Centra el texto horizontalmente */
      padding: 20px 0; /* Añade espacio alrededor del título */
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    button {
      background-color: #3498db; /* Color de fondo del botón */
      color: #fff; /* Color del texto del botón */
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
  
    button:hover {
      background-color: #2980b9; /* Cambia el color al pasar el mouse sobre el botón */
    }
  
    /* Puedes ajustar los estilos según tus preferencias */
  </style>
  <ul>
    {% for service in services %}
      <li>
        {{ service.name }} - Precio: {{ service.price }}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#serviceModal{{ service.id }}">
          Adquirir
        </button>
      </li>
    {% endfor %}
  </ul>
  

  <!-- Modal -->
  {% for service in services %}
  <div class="modal fade" id="serviceModal{{ service.id }}" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="serviceModalLabel">Adquirir Servicio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Aquí renderiza el formulario -->
            <form method="post" action="{% url 'service_request' service.id %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Enviar Pedido</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
{% endblock %}


