<!-- shopping_cart.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Carrito de Compras</h1>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f5f5f5; /* Color de fondo */
      color: #333; /* Color de texto principal */
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #3498db; /* Color de fondo del encabezado */
      color: #fff; /* Color de texto del encabezado */
      padding: 10px;
      text-align: center;
    }

    /* Agrega estilos específicos para el carrito de compras */
    h1 {
      color: black; /* Color del título principal */
      text-align: center; /* Centra el texto horizontalmente */
      padding: 20px 0; /* Añade espacio alrededor del título */
    }

    ul {
      list-style: none;
      padding: 0;
    }


    a {
      color: #27ae60; /* Color del enlace */
      text-decoration: none;
      margin-left: 10px;
      padding: 8px 12px;
      border-radius: 4px;
      
      transition: background-color 0.3s ease-in-out;
    }

    a:hover {
      background-color: #52be80; /* Cambia el color al pasar el mouse sobre el botón */
    }
    .actions {
      margin-top: 10px;
    }
    a:hover {
      background-color: #52be80; /* Cambia el color al pasar el mouse sobre el enlace */
    }

    /* Puedes agregar más estilos según sea necesario */

  </style>
  <ul>
    {% for item in cart_items %}
      <li>
        {% if item.product %}
          {{ item.product.name }} - Precio: {{ item.product.price }} - Cantidad: {{ item.quantity }}
        {% elif item.service %}
          {{ item.service.name }} - Precio: {{ item.service.price }} - Cantidad: {{ item.quantity }}
        {% endif %}
        <a href="{% url 'remove_one' item.product.id %}" onclick="removeOne('{{ item.id }}')">Eliminar 1</a>
        <a href="{% url 'remove_all' item.product.id %}" onclick="removeAll('{{ item.id }}')">Eliminar Todo</a>
        <a href="{% url 'add_one' item.product.id %}" onclick="addOne('{{ item.id }}')">Agregar 1</a>
      </li>
      <a href="{% url 'buy_products' %}">Comprar Productos</a>
    {% endfor %}
  </ul>

  <script>
    function removeOne(item_id) {
      $.ajax({
        url: '{% url "remove_one" 0 %}'.replace('0', item_id),
        method: 'GET',
        success: function(data) {
          // Actualiza la interfaz o realiza otras acciones después de eliminar 1
          console.log('Producto o servicio eliminado (1) del carrito:', data);
        },
        error: function(error) {
          console.error('Error al eliminar 1 del carrito:', error);
        }
      });

      return false;  // Esto evita que el enlace siga el href
    }

    // Implementa funciones similares para removeAll y addOne
    // ...

  </script>
{% endblock %}
