<!-- shopping_cart.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>Carrito de Compras</h1>
  <ul>
    {% for item in cart_items %}
      <li>
        {% if item.product %}
          {{ item.product.name }} - Precio: {{ item.product.price }} - Cantidad: {{ item.quantity }}
        {% elif item.service %}
          {{ item.service.name }} - Precio: {{ item.service.price }} - Cantidad: {{ item.quantity }}
        {% endif %}
        <a href="{% url 'remove_one' item.product.id %}" onclick="removeOne('{{ item.id }}')">Eliminar 1</a>
        <a href="{% url 'remove_all' item.product.id %}" onclick="removeAll('{{ item.id }}')">Eliminar Todo</a>
        <a href="{% url 'add_one' item.product.id %}" onclick="addOne('{{ item.id }}')">Agregar 1</a>
      </li>
    {% endfor %}
  </ul>

  <script>
    function removeOne(item_id) {
      $.ajax({
        url: '{% url "remove_one" 0 %}'.replace('0', item_id),
        method: 'GET',
        success: function(data) {
          // Actualiza la interfaz o realiza otras acciones después de eliminar 1
          console.log('Producto o servicio eliminado (1) del carrito:', data);
        },
        error: function(error) {
          console.error('Error al eliminar 1 del carrito:', error);
        }
      });

      return false;  // Esto evita que el enlace siga el href
    }

    // Implementa funciones similares para removeAll y addOne
    // ...

  </script>
{% endblock %}
