{% extends "base.html" %}

{% block content %}
<h1>Signin</h1>

{% if messages %}
  <div class="alert alert-danger">
    <ul class="mb-0">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<form action="{% url 'signin' %}" method="POST">
  {% csrf_token %}
  {{ form.username.label_tag }} {{ form.username }}
  {{ form.password.label_tag }} {{ form.password }}
  {{ form.role.label_tag }} {{ form.role }}
  <button>Signin</button>
</form>

<p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
<p><a href="{% url 'signup' %}">Registrarse</a></p>
{% endblock %}
