{% extends 'base.html' %} 
{% block content %}

{% if user.role == 'cliente' %}
  <h1>Cliente</h1>
  <!-- Contenido específico para clientes -->
{% elif user.role == 'empleado' %}
  <h1>Empleado</h1>
  <!-- Contenido específico para empleados -->
{% else %}
  <h1>Administrador</h1>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

  <!-- Contenido específico para administradores -->
{% endif %}

<ul>
  {% for task in tasks %}
    <li>
      <a href="{% url 'task_detail' task.id %}">
        {% if task.important %}
          <strong>{{task.title}}</strong>
        {% else %}
          {{task.id}} {{task.title}}
        {% endif %}
        <p>{{task.description}}</p>
        {{task.datecompleted|date:'M j Y:i'}}
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}
