<!-- user_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul>
        {% for user_with_permissions in users_with_permissions %}
            <li>
                {{ user_with_permissions.user.username }} - Rol: {{ user_with_permissions.user.get_role_display }}
                <a href="{% url 'editar_usuario' user_with_permissions.user.id %}">Editar</a>

                {% if user_with_permissions.user.role == 'admin' %}
                    <form action="{% url 'manage_user_permissions' user_with_permissions.user.id %}" method="post">
                        {% csrf_token %}
                        {{ user_with_permissions.form.as_p }}
                        <button type="submit">Guardar Permisos</button>
                    </form>
                {% endif %}

                {% if user_with_permissions.user.is_active %}
                    <form action="{% url 'desactivar_usuario' user_with_permissions.user.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Desactivar</button>
                    </form>
                {% else %}
                    <form action="{% url 'activar_usuario' user_with_permissions.user.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Activar</button>
                    </form>
                {% endif %}

                <a href="{% url 'ver_perfil' user_with_permissions.user.id %}">Ver perfil</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'tasks' %}">Regresar</a>
</body>
</html>
